.panda-bg-info {
    background-color: #d3d3d3

;
}

.btn-buy-now {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 16px;
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 14px 20px;
}

.price {
    color: #FF136F;
    margin-top: 20px;
}


.all-categories {
    background-color: #F4F4F4;
    padding: 10px 0 20px;
}

#shoes {
    margin-top: 30px;
}

#backpack {
    margin-top: 60px !important;
    margin-bottom: 45px;
}

small {
    font-size: 80%;
    font-weight: 400;
}