body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f3f5; /* Dirty white background */
}

h1 {
    color: #121010;
    text-align: center;
    padding: 10px;
    margin: 0;
}

.addd{
    background: linear-gradient(90deg, #0099cc, #00ccff);
}



.admin-container {
    display: flex;
    justify-content: space-between; /* This will create space between the sections */
    padding: 20px;
}

.add-product {
    width: 48%; 
}

.order-tracking {
    width: 48%; 
}

/* ... (rest of the CSS code) ... */


.add-product, .order-tracking {
    background-color:  #d1d1ea;
        color: #0f0e0e; /* Text color for better visibility on the gradient */
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}



.add-product-content, .order-tracking-content {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
