<!DOCTYPE html>
<html>
<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" href="stylee.css">

</head>
<body>
    <h1>Add</h1>
    <form action="mezel.php" method="post">
        <label for="category">Category:</label>
        <select id="category" name="category">
            <option value="salle">salle</option>
            <option value="coach">coach</option>
        </select><br><br>
        <label for="name"> Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="price">Price ($):</label>
        <input type="number" id="price" name="price" step="0.01" required><br><br>

        <label for="product_image">Product Image:</label>
        <input type="file" id="product_image" name="product_image" accept="image/*"><br><br>

        <input type="submit" value="Add">
    </form>
   <h1>delate</h1>
   <form action="mezel.php" method="post">
        <label for="category">Category:</label>
        <select id="category" name="category">
            <option value="salle">salle</option>
            <option value="coach">coach</option>
        </select><br><br>
        <label for="id">id :</label>
        <input type="text" id="id" name="id" required><br><br>
        <input type="submit" value="delate">
    </form>
    <h1>update</h1>
    <form action="mezel.php" method="post">
        <label for="category">Category:</label>
        <select id="category" name="category">
            <option value="salle">salle</option>
            <option value="coach">coach</option>
        </select><br><br>

        <label for="name"> Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="price">Price ($):</label>
        <input type="number" id="price" name="price" step="0.01" required><br><br>

        <label for="product_image">Product Image:</label>
        <input type="file" id="product_image" name="product_image" accept="image/*"><br><br>

        <input type="submit" value="update">
    </form>
    <h1>Order Tracking</h1>
    <table style="width:25%">
     <tr>
         <td>
             <h5>id order</h5>
         </td>
         <td>
             <h5>order</h5>
         </td>
     </tr>
    </table>
    <br>
    <br><br>

</body>
</html>
