<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
  <script src="contact_us.js"></script>
  <link rel="stylesheet" href="contact_us.css">
</head>
<body>
  <div class="container right-panel-active">
    <div class="container__form container--signup">
      <form action="#" class="form" id="form1">
        <h2 class="form__title">Clients feedback</h2>
        <input type="text" disabled placeholder="Johnathan" class="input" />
        <input type="email" disabled placeholder="John6922@gmail.com" class="input" />
        <textarea disabled name="" id="" placeholder="Amazing facility, top equipment and great environment. question though i wanna gain 10kg per month to bulk any advice ?" class="input" cols="30" rows="4"></textarea>
        <textarea name="" id="" placeholder="Your response" class="input" cols="30" rows="5"></textarea>
        <button class="btn">Send message</button>
      </form>
    </div>
  </div>
  <div class="container right-panel-active">
    <div class="container__form container--signup">
      <form action="#" class="form" id="form1">
        <h2 class="form__title">Clients feedback</h2>
        <input type="text" disabled placeholder="Johnathan" class="input" />
        <input type="email" disabled placeholder="John6922@gmail.com" class="input" />
        <textarea disabled name="" id="" placeholder="Amazing facility, top equipment and great environment. question though i wanna gain 10kg per month to bulk any advice ?" class="input" cols="30" rows="4"></textarea>
        <textarea name="" id="" placeholder="Your response" class="input" cols="30" rows="5"></textarea>
        <button class="btn">Send message</button>
      </form>
    </div>
  </div>
  <div class="container right-panel-active">
    <div class="container__form container--signup">
      <form action="#" class="form" id="form1">
        <h2 class="form__title">Clients feedback</h2>
        <input type="text" disabled placeholder="Johnathan" class="input" />
        <input type="email" disabled placeholder="John6922@gmail.com" class="input" />
        <textarea disabled name="" id="" placeholder="Amazing facility, top equipment and great environment. question though i wanna gain 10kg per month to bulk any advice ?" class="input" cols="30" rows="4"></textarea>
        <textarea name="" id="" placeholder="Your response" class="input" cols="30" rows="5"></textarea>
        <button class="btn">Send message</button>
      </form>
    </div>
  </div>
</body>
</html>