<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
  <script src="contact_us.js"></script>
  <link rel="stylesheet" href="contact_us.css">
</head>
<body>
  <div class="container right-panel-active">
    <!-- Contact Our experts -->
    <div class="container__form container--signup">
      <form action="#" class="form" id="form1">
        <h2 class="form__title">Contact Our experts</h2>
        <input type="text" placeholder="Name" class="input" />
        <input type="email" placeholder="Email" class="input" />
        <textarea name="" id="" placeholder="Your Question or Feedback" class="input" cols="30" rows="5"></textarea>
        <button class="btn">Send message</button>
      </form>
    </div>
  
    <!-- Overlay -->
    <div class="container__overlay">
      <div class="overlay">
        <div class="overlay__panel overlay--left">
        </div>
        <div class="overlay__panel overlay--right">
        </div>
      </div>
    </div>
  </div>
</body>
</html>