<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>esemna</title>
	   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
 
     <script src="https://kit.fontawesome.com/1694914d74.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="styles/style.css">
	
</head>

<body>
        <header>
        
        <nav class="navbar navbar-expand-lg py-4">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="log.png" alt="" height="109" width="233">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse fs-5" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </nav>

        <div class="container mt-3 mb-5">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner rounded-3">
                    <div class="carousel-item active">
                        <div class="row panda-bg-info p-5 d-flex align-items-center">
                            <div class="col-lg-7 ps-5">
                                <h1 class="fw-bold mb-3"><span lang="en-gb">AMINO X</span></h1>
                                <p class="mb-4">AMINOx is a stimulant free, BCAA formula designed to support endurance during your workout and aid in muscle recovery post training,
                                 so you can push your performance to the next level.<br>Amino acids are the building blocks of proteins and play crucial roles in various physiological processes in the human body.<br> 
                                 There are 20 different amino acids that can be categorized as essential and non-essential.</p>
                                <h1 class="price fw-semibold">
								<span lang="en-gb">120DT</span></h1>
                                <button type="button" class="btn-buy-now">Buy Now <i
                                        class="fa-solid fa-arrow-right"></i></button>
                            </div>
                            <div class="col-lg-4">
                                &nbsp;<img src="images/BSN1960036_grey_900x-PhotoRoom.png" alt="" height="400" width="332"></div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row panda-bg-info p-5 d-flex align-items-center">
                            <div class="col-lg-7 ps-5">
                                <h1 class="fw-bold mb-3">WOMEN S MULTIVITAMIN- 120TABS</h1>
                                <p class="mb-4">spectre complet de vitamines essentielles
boosters d'immunite
vitamine c, vitamine d, fer et zinc
bioflavonoides et isoflavones d agrumes
mineraux critiques et micronutriments
sante de la peau, des os et des yeux
complexe complet de vitamines b
antioxydants et soutien au metabolisme</p>
                                <h1 class="price fw-semibold">130DT</h1>
                                <button type="button" class="btn-buy-now">Buy Now <i
                                        class="fa-solid fa-arrow-right"></i></button>
                            </div>
                            <div class="col-lg-4">
                                <img src="images/wemen.png" class="d-block w-100 mt-4 mt-lg-0" alt="" height="400" width="120">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row panda-bg-info p-5 d-flex align-items-center">
                            <div class="col-lg-7 ps-5">
                                <h1 class="fw-bold mb-3">Optimum Nutrition Whey</h1>
                                <p class="mb-4">Optimum Nutrition GOLD STANDARD 100% WHEY is formulated from premium whey sources, helping your body to repair and rebuild muscle fibres after training.<br> Each great tasting serving
                                 contains 24 g of premium whey protein,
                                 5.5 g of naturally occurring BCAAs</p>
                                <h1 class="price fw-semibold">355.500DT</h1>
                                <button type="button" class="btn-buy-now">Buy Now <i
                                        class="fa-solid fa-arrow-right"></i></button>
                            </div>
                            <div class="col-lg-4">
                                <img src="images/whey.png" class="d-block w-100" alt="" height="400" width="266">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container my-5">
            <h2 class="fw-semibold mb-3">Categories</h2>
            <div class="row g-4">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div
                        class="p-3 border bg-primary text-light d-flex align-items-center justify-content-around rounded-3 watch">
                        <h2 class="fw-semibold"><span lang="en-gb">vitamines</span></h2>
                        &nbsp;</div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div
                        class="p-3 border bg-success text-light d-flex align-items-center justify-content-around rounded-3 bag">
                        <h2 class="fw-semibold"><span lang="en-gb">protein</span></h2>
                        &nbsp;</div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div
                        class="p-3 border bg-warning text-light d-flex align-items-center justify-content-around rounded-3 shoes">
                        <h2 class="fw-semibold"><span lang="en-gb">herbal 
						supplements</span></h2>
                        &nbsp;</div>
                </div>
            </div>
        </div>

        <section class="all-categories">
                    <section id="shoes" class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2 class="fw-semibold mb-3"><span lang="en-gb">Vitamines</span></h2>
                    
                </div>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                    <div class="col">
                        <div class="card border-0 rounded-3 h-100">
                            <img src="images/OPT2380278_grey_900x-PhotoRoom.png" class="auto-style1" alt="..." height="360" width="241">
                            <div class="card-body text-center">
                                <h5 class="card-title fw-semibold">
								<span lang="en-gb">opti-men</span></h5>
                                <p class="card-text mt-4">Complément alimentaire contenant des vitamines, des minéraux, des acides aminés et des extraits de plantes</p>
                                <h5 class="price fw-semibold">
								<span lang="en-gb">103DT</span></h5>
                            </div>
                            <div class="mb-4 mx-auto">
                                <button type="button" class="btn-buy-now">Buy Now <i
                                        class="fa-solid fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-0 rounded-3 h-100">
                            <img src="images/OPT128_grey_900x-PhotoRoom.png" class="auto-style1" alt="..." height="360" width="261">
                            <div class="card-body text-center">
                                <h5 class="card-title fw-semibold">
								<span lang="en-gb">opti-women</span></h5>
                                <p class="card-text mt-4">This Complément alimentaire contenant des vitamines, des minéraux, des acides aminés et des extraits de plantes.</p>
                                <h5 class="price fw-semibold">
								<span lang="en-gb">90DT</span>&nbsp;</h5>
                            </div>
                            <div class="mb-4 mx-auto">
                                <button type="button" class="btn-buy-now">Buy Now <i
                                        class="fa-solid fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-0 rounded-3 h-100">
                            <img src="images/vita.png" class="auto-style1" alt="..." height="360" width="225">
                            <div class="card-body text-center">
                                <h5 class="card-title fw-semibold">
								<span lang="en-gb">Daily formula</span></h5>
                                <p class="card-text mt-4">Consuming this supplement provides sources of vitamins A, E, B and C, which act as antioxidants. They help in strengthening your immune system </p>
                                <h5 class="price fw-semibold">
								<span lang="en-gb">50DT</span>&nbsp;</h5>
                            </div>
                            <div class="mb-4 mx-auto">
                                <button type="button" class="btn-buy-now">Buy Now <i
                                        class="fa-solid fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="shoes" class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2 class="fw-semibold mb-3"><span lang="en-gb">Protein</span></h2>
                    
                </div>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                    <div class="col">
                        <div class="card border-0 rounded-3 h-100">
                            <img src="images/whey.png" class="auto-style2" alt="..." height="571" width="332">
                            <div class="card-body text-center">
                                <h5 class="card-title fw-semibold">
								<span lang="en-gb">optimum nitrition protein</span>&nbsp;</h5>
                                <p class="card-text mt-4">Obtenez la poudre de protéines la plus vendue au monde avec Optimum Nutrition Gold Standard 100% et contient 2.27 kg et au meilleur prix en Tunisie</p>
                                    <h5 class="price fw-semibold">
                                    <span lang="en-gb">355.500dt</span></h5>
                            </div>
                           <div class="mb-4 mx-auto">
                                <button type="button" class="btn-buy-now">Buy Now <i
                                        class="fa-solid fa-arrow-right"></i></button>
                            </div>                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-0 rounded-3 h-100">
                            <img src="images/prot1.png" alt="..." height="571" width="395">
                            <div class="card-body text-center">
                                <h5 class="card-title fw-semibold">
								<span lang="en-gb">MP combat protein</span>&nbsp;</h5>
                                <p class="card-text mt-4">&nbsp;powder<span lang="en-gb">
								</span>contient 25 grammes de protéines de haute qualité dans un shake savoureux et facile à mélanger, formulé pour les athlètes et les personnes actives.

</p>
                                <h5 class="price fw-semibold">
								<span lang="en-gb">230DT</span></h5>
                            </div>
                            <div class="mb-4 mx-auto">
                                <button type="button" class="btn-buy-now">Buy Now <i
                                        class="fa-solid fa-arrow-right"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-0 rounded-3 h-100">
                            <img src="images/prot2.png" alt="..." height="577" width="371">
                            <div class="card-body text-center">
                                <h5 class="card-title fw-semibold">
								<span lang="en-gb">Nitro tech protein</span>&nbsp;</h5>
                                <p class="card-text mt-4">Nitrotech est très concentrée en protéines et une dose de 46g vous en apporte pas moins de 30g. Ainsi, un seul doseur est suffisant pour la préparationp>
                                <h5 class="price fw-semibold">
								<span lang="en-gb">245DT</span></h5>
                            </div>
                           <div class="mb-4 mx-auto">
                                <button type="button" class="btn-buy-now">Buy Now <i
                                        class="fa-solid fa-arrow-right"></i></button>
                            </div>                        </div>
                    </div>
                </div>
            </section>

            <section id="backpack" class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2 class="fw-semibold mb-3"><span lang="en-gb">Herbal 
					supplements</span>&nbsp;</h2>
                    <h5 class="fw-semibold text-warning">&nbsp;</h5>
                </div>
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                    <div class="col">
                        <div class="card border-0 rounded-3 h-100">
                            <img src="images/6131QQYIPtL._AC_UF1000,1000_QL80_.jpg" class="auto-style1" alt="..." height="381" width="280">
                            <div class="card-body text-center">
                                <h5 class="card-title fw-semibold">
								<span lang="en-gb">ashwaganda</span></h5>
                                <p class="card-text mt-4"> ashwagandha significantly reduced people's stress levels when compared with a placebo. .</p>
                                <h5 class="price fw-semibold">40DT</h5>
                            </div>
                            <div class="mb-4 mx-auto">
                                <button type="button" class="btn-buy-now">Buy Now >></button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-0 rounded-3 h-100">
                            <img src="images/pep.jpg" class="auto-style1" alt="..." height="381" width="325">
                            <div class="card-body text-center">
                                <h5 class="card-title fw-semibold">
								<span lang="en-gb">pepermint-oil</span></h5>
                                <p class="card-text mt-4">used to treat digestion problems such as nausea, indigestion, stomach problems and bowel conditions</p>
                                <h5 class="price fw-semibold">
								<span lang="en-gb">15DT</span></h5>
                            </div>
                            <div class="mb-4 mx-auto">
                                <button type="button" class="btn-buy-now">Buy Now >></button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card border-0 rounded-3 h-100">
                            <img src="images/cha.jpg" class="auto-style3" alt="..." height="381" width="198">
                            <div class="card-body text-center">
                                <h5 class="card-title fw-semibold">
								<span lang="en-gb">chamomile</span></h5>
                                <p class="card-text mt-4">used to treat sleeplessness, anxiety, upset stomach, gas and diarrhea. It is also used topically for skin conditions. Caution in people with ragweed allergy..</p>
                                <h5 class="price fw-semibold">
								<span lang="en-gb">60DT</span></h5>
                            </div>
                            <div class="mb-4 mx-auto">
                                <button type="button" class="btn-buy-now">Buy Now >></button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <section id="subscribe" style="height: 450px;"
            class="container my-5 panda-bg-info rounded-3 d-flex justify-content-center align-items-center">
            <div class="text-center">
                <h3 class="fw-bold">LET'S STAY IN TOUCH</h3>
				<h3 class="fw-bold"><span lang="en-gb">Join our forum !</span>&nbsp;</h3>
                       </div>
        </section>
    </main>

    <footer class="mb-0 pb-0 mt-3 text-center">
    </footer>
    
  <!-- Bootstrap Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>


</body>

</html>