<html>
<head>
<title>MedNMore</title>
<head>
	<link rel="stylesheet" href="logincss.css">
	<title>gym</title>
	<div class="top">
		<div class="logo"><a href="default.html">
			<img src="imglogoya.png" height="185" style="left: 0px; top: 0px" width="322"></a>
		</div>
	</div>
<body>
    <div class="Contenu">
        <h1>Inscription</h1>
        <form action="plan.html" method="post">
            <h2>Votre nom :</h2>
            <label for="name">Nom :</label>
            <input type="text" id="name" name="name" required><br>      
            <label for="last_name">Prénom :</label>
            <input type="text" id="last_name" name="last_name" required><br>
            <label for="ID">ID :</label>
            <input type="text" id="ID" name="ID" required><br>
            <label for="age">Âge :</label>
            <input type="text" id="age" name="age" required><br>
            <label for="height">Taille (cm) :</label>
            <input type="text" id="height" name="height" required><br>
            <label for="weight">Poids (kg) :</label>
            <input type="text" id="weight" name="weight" required><br>
            <h2>Sexe :</h2>
            <label for="sex_male">
                <input type="radio" id="sex_male" name="sex" value="male"> Masculin
            </label><br>
            <label for="sex_female">
                <input type="radio" id="sex_female" name="sex" value="female"> Féminin
            </label><br>
            <input type="submit" value="Soumettre">
        </form>
    </div>
</body>
</html>

	
</body>
</html>
