
<html>
<head>
<title>MedNMore</title>
<head>
	<link rel="stylesheet" href="plancss.css">
	<title>gym</title>
	<div class="top">
		<div class="logo"><a href="default.html">
			<img src="imglogoya.png" height="185" style="left: 0px; top: 0px" width="322"></a>
		</div>

<nav>
<ul>
	<li><a href="#">Contact us</a></li>
	<li><a href="#">Product</a></li>
	<li><a href="#">About us</a></li>
	<li><a href="default.html">Home</a></li>
	
</ul>

</nav>

</div>
</head>
<body>
    <div class="container">
        <h1>Programme d'Entraînement Semaine</h1>

        <div class="day">
            <h2>Jour 1 : Lundi</h2>
            <p></p>
            <p></p>
        </div>

        <div class="day">
            <h2>Jour 2 : Mardi</h2>
            <p></p>
            <p></p>
        </div>

        <div class="day">
            <h2>Jour 3 : Mercredi</h2>
            <p></p>
            <p></p>
        </div>

        <div class="day">
            <h2>Jour 4 : Jeudi</h2>
            <p></p>
            <p></p>
        </div>

        <div class="day">
            <h2>Jour 5 : Vendredi</h2>
            <p></p>
            <p></p>
        </div>

        <div class="day">
            <h2>Jour 6 : Samedi</h2>
            <p></p>
            <p></p>
        </div>

        <div class="day">
            <h2>Jour 7 : Dimanche</h2>
            <p> </p>
            <p></p>
        </div>
    </div>
</body>
</html>
