<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="result.css">
	<meta charset="utf-8">
	<title>Login</title>
</head>
<body>
<div class="center">
	<h1>helping you to find confort</h1>
	<form method="POST" action="shop.html">
		<div class="txt2_field">
			<input type="time" name="time" required>
			<label>time</label>
		</div>
		<div class="txt_field">
			<input type="place" name="place" required>
			<label>where you live ?</label>
		</div>
		<div class="txt3_field">
			<label>with coach</label>
			<input type="radio" id="coach" name="coach" value="with">
			 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<label>without coach</label>
			<input type="radio" id="coach" name="coach" value="without">
		</div>
		<input type="reset" name="reset" value="cancel"><input type="submit" name="login" value="search">
		&nbsp
	</form>
</div>
</body>
</html>