/* General table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid #ccc !important; /* Add a gray border with !important */
    border-radius: 8px !important; /* Add border-radius for smooth edges with !important */
}

th, td {
    border: 1px solid #ccc !important; /* Add a gray border to table cells with !important */
    padding: 8px;
    text-align: left;
}

/* Styles only for the product table */
.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid #ccc !important; /* Add a gray border with !important */
    border-radius: 8px !important; /* Add border-radius for smooth edges with !important */
}

.product-table th, .product-table td {
    border: 1px solid #ccc !important; /* Add a gray border to table cells with !important */
    padding: 8px;
    text-align: left;
}

/* Apply styles to every two sections in the admin container */
.admin-container {
    display: flex;
    flex-wrap: wrap; /* Enable wrapping for flex container */
    justify-content: space-between; /* This will create space between the sections */
    padding: 20px;
}

/* General styles for all sections */
.add-product, .update-product, .delete-product, .order-tracking, .delete-commande , .update-commande{
    background-color: #f0f0f0; /* Light gray background */
    color: #0f0e0e; /* Text color for better visibility on the gradient */
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    width: 48%;
    margin-bottom: 20px; /* Add some space between sections */
}

/* Styles for content within the sections */
.add-product-content, .update-product-content, .delete-product-content, .order-tracking-content, .delete-commande-content , .update-commande-content {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Apply hover effect on buttons for better user interaction */
input[type=submit] {
    cursor: pointer;
    background-color: #0077cc;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #005faa;
}
